<!DOCTYPE html>
<html lang="”en”">
  <head>
    <meta charset="”UTF-8″" />
    <title>Header</title>
  </head>
  <body>
    <header>
      <button class="menu-icon" id="menu-icon">☰</button>
      <div class="logo-container">
        <h1>
          <a>
            <span>Lady Pipa</span>
          </a>
        </h1>
      </div>
      <div class="sections-container">
        <ul>
          <!-- Prendas -->
          <li>
            <div class="section">
              Prendas
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 9l6 6l6 -6" />
              </svg>
            </div>
            <div class="drop-down-menu">
              <ul>
                <li>
                  <div>
                    Categorías
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </div>
                  <div class="drop-down-menu">
                    <ul>
                      <li><div>Ver todo</div></li>
                      <li><div>Vestidos</div></li>
                      <li><div>Monos</div></li>
                      <li><div>Sets</div></li>
                      <li><div>Tops</div></li>
                      <li><div>Faldas y pantalones</div></li>
                      <li><div>Kimones y chales</div></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- Rebajas -->
          <li>
            <div class="section">Rebajas</div>
            <div class="drop-down-menu">
              <ul>
                <li>
                  <div>
                    Categorías
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </div>
                  <div class="drop-down-menu">
                    <ul>
                      <li><div>Ver todo</div></li>
                      <li><div>Ropa</div></li>
                      <li><div>Zapatos</div></li>
                      <li><div>Accesorios</div></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- Tipo de Evento -->
          <li>
            <div class="section">
              Tipo de Evento
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 9l6 6l6 -6" />
              </svg>
            </div>
            <div class="drop-down-menu">
              <ul>
                <li>
                  <div>
                    Colecciones
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </div>
                  <div class="drop-down-menu">
                    <ul>
                      <li><div>Invita boda</div></li>
                      <li><div>Novias</div></li>
                      <li><div>Bautizos y comuniones</div></li>
                      <li><div>Graduaciones</div></li>
                      <li><div>Fiestas</div></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- Colecciones -->
          <li>
            <div class="section">
              Colecciones
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 9l6 6l6 -6" />
              </svg>
            </div>
            <div class="drop-down-menu">
              <ul>
                <li>
                  <div>
                    Colecciones
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </div>
                  <div class="drop-down-menu">
                    <ul>
                      <li><div>Front Row</div></li>
                      <li><div>Kyoto</div></li>
                      <li><div>Bridal</div></li>
                      <li><div>Verano</div></li>
                      <li><div>Extended Sizes</div></li>
                      <li><div>Embarazada</div></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- Accesorios -->
          <li>
            <div class="section">
              Accesorios
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M6 9l6 6l6 -6" />
              </svg>
            </div>
            <div class="drop-down-menu">
              <ul>
                <li>
                  <div>
                    Categorías
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M9 6l6 6l-6 6" />
                    </svg>
                  </div>
                  <div class="drop-down-menu">
                    <ul>
                      <li><div>Ver todo</div></li>
                      <li><div>Kimonos y chales</div></li>
                      <li><div>Bolsos</div></li>
                      <li><div>Sujetadores y bodies</div></li>
                      <li><div>Zapatos</div></li>
                      <li><div>Joyas</div></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nosotras -->
          <li>
            <div class="section">Nosotras</div>
          </li>
          <!-- Tiendas -->
          <li>
            <div class="section">Tiendas</div>
          </li>
        </ul>
      </div>
      <div class="secondary-sections-container">
        <div class="settings">
          <div class="pen">
            PEN S/.
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 9l6 6l6 -6" />
            </svg>
            <div id="pen-menu" class="dropdown-menu">
              <ul>
                <li>United States (USD $)</li>
                <li>Estonia (EUR)</li>
              </ul>
            </div>
          </div>
          <div class="language">
            EN
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 9l6 6l6 -6" />
            </svg>
            <div id="language-menu" class="dropdown-menu">
              <ul>
                <li>Español</li>
                <li>Français</li>
                <li>English</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="other-options">
          <a href="#" class="option">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-search"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
          </a>
          <a href="#" class="option">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-user"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
          </a>
          <a href="#" class="option">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"
              />
            </svg>
          </a>
          <a href="#" class="option">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z"
              />
              <path d="M9 11v-5a3 3 0 0 1 6 0v5" />
            </svg>
          </a>
        </div>
      </div>
    </header>
    <div id="header-menu-modal" class="header-modal">
      <div class="modal-content">
        <div class="top">
          <span class="header-close">&times;</span>
          <div class="sections-container">
            <ul>
              <!-- Prendas -->
              <li>
                <div class="section">
                  Prendas
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
                <div class="drop-down-menu">
                  <ul>
                    <li>
                      <div>
                        Categorías
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </div>
                      <div class="drop-down-menu">
                        <ul>
                          <li><div>Ver todo</div></li>
                          <li><div>Vestidos</div></li>
                          <li><div>Monos</div></li>
                          <li><div>Sets</div></li>
                          <li><div>Tops</div></li>
                          <li><div>Faldas y pantalones</div></li>
                          <li><div>Kimones y chales</div></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Rebajas -->
              <li>
                <div class="section">
                  Rebajas
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
                <div class="drop-down-menu">
                  <ul>
                    <li>
                      <div>
                        Categorías
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </div>
                      <div class="drop-down-menu">
                        <ul>
                          <li><div>Ver todo</div></li>
                          <li><div>Ropa</div></li>
                          <li><div>Zapatos</div></li>
                          <li><div>Accesorios</div></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Tipo de Evento -->
              <li>
                <div class="section">
                  Tipo de Evento
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
                <div class="drop-down-menu">
                  <ul>
                    <li>
                      <div>
                        Colecciones
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </div>
                      <div class="drop-down-menu">
                        <ul>
                          <li><div>Invita boda</div></li>
                          <li><div>Novias</div></li>
                          <li><div>Bautizos y comuniones</div></li>
                          <li><div>Graduaciones</div></li>
                          <li><div>Fiestas</div></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Colecciones -->
              <li>
                <div class="section">
                  Colecciones
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
                <div class="drop-down-menu">
                  <ul>
                    <li>
                      <div>
                        Colecciones
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </div>
                      <div class="drop-down-menu">
                        <ul>
                          <li><div>Front Row</div></li>
                          <li><div>Kyoto</div></li>
                          <li><div>Bridal</div></li>
                          <li><div>Verano</div></li>
                          <li><div>Extended Sizes</div></li>
                          <li><div>Embarazada</div></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Accesorios -->
              <li>
                <div class="section">
                  Accesorios
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 6l6 6l-6 6" />
                  </svg>
                </div>
                <div class="drop-down-menu">
                  <ul>
                    <li>
                      <div>
                        Categorías
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M9 6l6 6l-6 6" />
                        </svg>
                      </div>
                      <div class="drop-down-menu">
                        <ul>
                          <li><div>Ver todo</div></li>
                          <li><div>Kimonos y chales</div></li>
                          <li><div>Bolsos</div></li>
                          <li><div>Sujetadores y bodies</div></li>
                          <li><div>Zapatos</div></li>
                          <li><div>Joyas</div></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Nosotras -->
              <li>
                <div class="section">Nosotras</div>
              </li>
              <!-- Tiendas -->
              <li>
                <div class="section">Tiendas</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom">
          <div>
            <a href="https://www.instagram.com/ladypipa" target="_blank">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M16.5 7.5v.01" />
              </svg>
            </a>
            <a href="https://www.tiktok.com/@ladypipa" target="_blank">
              <svg
                role="presentation"
                focusable="false"
                width="24"
                height="24"
                class="icon icon-tiktok"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.027 10.168a5.125 5.125 0 0 1-4.76-2.294v7.893a5.833 5.833 0 1 1-5.834-5.834c.122 0 .241.011.361.019v2.874c-.12-.014-.237-.036-.36-.036a2.977 2.977 0 0 0 0 5.954c1.644 0 3.096-1.295 3.096-2.94L12.56 2.4h2.75a5.122 5.122 0 0 0 4.72 4.573v3.195"
                  fill="currentColor"
                ></path>
              </svg>
            </a>
          </div>
          <div class="container-settings">
            <div class="settings">
              <div class="pen">
                PEN S/.
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M6 9l6 6l6 -6" />
                </svg>
                <div id="pen-menu" class="dropdown-menu">
                  <ul>
                    <li>United States (USD $)</li>
                    <li>Estonia (EUR)</li>
                  </ul>
                </div>
              </div>
              <div class="language">
                EN
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M6 9l6 6l6 -6" />
                </svg>
                <div id="language-menu" class="dropdown-menu">
                  <ul>
                    <li>Español</li>
                    <li>Français</li>
                    <li>English</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="account">Account</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
