<!DOCTYPE html>
<html lang="”en”">
  <head>
    <meta charset="”UTF-8″" />
    <title>Newsletter</title>
  </head>
  <body>
    <div class="modal-overlay">
      <div class="newsletter-container">
        <div class="image-container">
          <img
            src="https://ladypipa.com/cdn/shop/files/LADY_PIPA_JAPON1224.jpg?v=1723022337&width=600"
            alt="Imagen promocional"
          />
        </div>
        <div class="content-container">
          <div class="close">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-x"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 6l-12 12" />
              <path d="M6 6l12 12" />
            </svg>
          </div>
          <div class="form-container">
            <h2>Mantengámonos en contacto</h2>
            <p>
              Entérate de nuestras últimas colecciones y ofertas especiales.
              Suscríbete y obtén un 15% de descuento en una prenda.
            </p>
            <form>
              <label for="email">E-mail</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Introduce tu correo electrónico"
                required
              />
              <button type="submit">Suscribirme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
