.slider-dots {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  justify-items: center;
}

.slider-dots p {
  font-size: 20px;
}

.slider-dots span {
  font-size: 14px;
  color: #333333;
}

.slider-dots .slides {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  overflow: hidden;
}

.slider-dots .slide-item {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-circle {
  background-color: var(--white-hover);
  padding: 15px 20px;
  border-radius: 50px;
  width: fit-content !important;
}

.dots-container {
  display: flex;
}

.dots-container button {
  background-color: transparent;
  border: none;
  color: var(--gray-color);
  cursor: pointer;
}

.dot.active button {
  color: var(--black-color);
}

@media (min-width: 1020px) {
  .dots-container {
    display: none;
  }
}

@media screen and (max-width: 1020px){
  .slider-dots .slide-item {
    display: none;
  }
  .slider-dots .slide-item.active {
    display: flex;
  }
  .slider-dots .slides {
    display: block;
    gap: 0;
  }
  .slider-dots p {
    font-size: 45px;
  }
  .slider-dots span {
    font-size: 25px;
  }
  .slider-dots img {
    width: 60px;
    height: 60px;
  }
}
